
    <!-- ABOUT -->
    <section id="about" class="about section">
        <div class="section-wrap bg-color-1">
            <div class="container">
                <div class="title wow fadeInUp" data-wow-delay="0.2s">
                    <h3 class="big text-uppercase">HELLO WORLD!</h3>
                    <p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo. Nulla et imperdiet ipsum, a mattis justo. Vivamus auctor mattis arcu in malesuada. Aliquam venenatis diam quis lorem ultrices, eget tincidunt lorem semper.</p>
                </div>


                <div class="about-content">
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.4s">
                                <h4 class="text-uppercase">WHO WE ARE</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo. Nulla et imperdiet ipsum, a mattis justo. Vivamus auctor mattis arcu in malesuada. Aliquam venenatis diam quis lorem ultrices, eget tincidunt lorem semper.</p>
                                <p class="color">Vestibulum eu nulla eget nisl tempus consectetur. Maecenas elit magna, fringilla sed leo a, tempus.</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.6s">
                                <h4 class="text-uppercase">WHAT WE DO</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa.</p>
                                <ul>
                                    <li>Vivamus auctor mattis arcu in malesuada. Aliquam venenatis</li>
                                    <li>ultrices, eget tincidunt lorem semper. Vestibulum eu nulla</li>
                                    <li>Porta, at tempor felis commodo. Nulla et imperdiet ipsum.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.8s">
                                <h4 class="text-uppercase">WHY WE MAKE YOU HAPPY :3</h4>
                                <p>Because we are cute cats you ever met before , <span class="text-uppercase">yes it is!</span></p>
                                <div class="video embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="//player.vimeo.com/video/100872038"></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / ABOUT -->

    
    <!-- SERVICES -->
    <section id="service" class="service section">
        <div class="section-wrap bg-color-1">
            <div class="container">
                <div class="title">
                  <h3 class="big text-uppercase">Services</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo. Nulla et imperdiet ipsum, a mattis justo. Vivamus auctor mattis arcu in malesuada. </p>
                </div>

                <div class="service-content">
                    <div class="ser-row">
                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="0.4s">
                                <i class="icon icon-code"></i>
                                <h4 class="text-uppercase"><a href="#">Développement </br> Ruby on Rails</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo.</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="0.6s">
                                <i class="icon icon-html5"></i>
                                <h4 class="text-uppercase"><a href="#">Intégration HTML5 CSS3</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo.</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="0.8s">
                                <i class="icon icon-wordpress"></i>
                                <h4 class="text-uppercase"><a href="#">Wordpress</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo.</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="item text-center wow fadeIn" data-wow-delay="1s">
                                <i class="icon icon-brush"></i>
                                <h4 class="text-uppercase"><a href="#">Web Design</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo.</p>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>

                <div class="ser-link text-uppercase text-center">
                    <a href="#" class="dl-quote cs-btn btn-style-1">DOWNLOAD QUOTE</a>
                    <a href="#" class="dl-brochure cs-btn btn-style-2">DOWNLOAD BROCHURE</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END / SERVICES -->

    <!-- CLIENT -->
    <section id="client" class="client section">
        <div class="section-wrap bg-parallax">
            <div class="container">
                <div class="title wow fadeInUp" data-wow-delay="0.2s">
                    <h3 class="big text-uppercase">Our clients</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo. Nulla et imperdiet ipsum, a mattis justo. Vivamus auctor mattis arcu in malesuada.</p>
                </div>

                <div class="client-content wow fadeInUp" data-wow-delay="0.4s">
                    <div class="client-row">

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-1.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-2.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-3.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-4.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-5.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-6.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-7.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-8.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4">
                            <a href="#" class="item">
                                <img src="images/client/client-9.png" alt="">
                            </a>
                        </div>
                        <!-- END / ITEM -->

                    </div>
                </div>

                
                <!-- TESTIMONIAL -->
                <div class="testimonial">
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-sm-12 col-md-6">
                            <div class="item">
                                <div class="image"><img src="images/team/team-2.jpg" alt="" class="grayscale"></div>
                                <div class="caption">
                                    <div class="ct-inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit.</p>
                                        <span>- Name / <a href="#">CEO of something.com</a> - </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-12 col-md-6">
                            <div class="item">
                                <div class="image"><img src="images/team/team-9.jpg" alt="" class="grayscale"></div>
                                <div class="caption">
                                    <div class="ct-inner">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit.</p>
                                        <span>- Name / <a href="#">CEO of something.com</a> - </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
                <!-- END / TESTIMONIAL -->
            </div>
            <div class="overlay-pattern-1"></div>
        </div>
    </section>
    <!-- END / CLIENT -->



    <!-- WORK -->
    <section id="work" class="work section">
        <div class="section-wrap bg-color bg-color-2">
            <div class="container">
                
                <div class="title">
                    <h3 class="big text-uppercase">Our projects</h3>
                </div>

                <div id="filters">
                    <ul class="text-capitalize text-right">
                        <li><a href="#" data-filter="*" id="all">All</a></li>
                        <li><a href="#" data-filter=".photography">Photography</a></li>
                        <li><a href="#" data-filter=".illustration">Illustration</a></li>
                        <li><a href="#" data-filter=".drawings">Drawings</a></li>
                        <li><a href="#" data-filter=".webdesign">Web Design</a></li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div id="work-wrap" class="work-wrap-1">
                    <!-- ITEM -->
                    <div class="item photography illustration">
                        <a class="zoom ajax-popup-link" href="projects/project-1.html">
                            <img src="images/work/work-1.jpg" alt="">
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <span class="icon md-icon-zoom"></span>
                            </div>
                            <div class="caption wow fadeInRight" data-wow-delay="0.4s">
                                <h4 class="text-uppercase font-fanwoodtext">LOREM IPSUM DOLOR SIT AMET</h4>
                                <hr class="line">
                                <ul>
                                    <li>Photography</li>
                                    <li>Magazine</li>
                                    <li>Model</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item illustration drawings">
                        <a class="zoom ajax-popup-link" href="projects/project-1.html">
                            <img src="images/work/work-2.jpg" alt="">
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <span class="icon md-icon-zoom"></span>
                            </div>
                            <div class="caption wow fadeInLeft" data-wow-delay="0.6s">
                                <h4 class="text-uppercase font-fanwoodtext">LOREM IPSUM DOLOR SIT AMET</h4>
                                <hr class="line">
                                <ul>
                                    <li>Photography</li>
                                    <li>Magazine</li>
                                    <li>Model</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item webdesign photography">
                        <a class="zoom ajax-popup-link" href="projects/project-1.html">
                            <img src="images/work/work-3.jpg" alt="">
                            <div class="mark-color-1"></div>
                            <div class="icon-wrap">
                                <span class="icon md-icon-zoom"></span>
                            </div>
                            <div class="caption wow fadeInRight" data-wow-delay="0.8s">
                                <h4 class="text-uppercase font-fanwoodtext">LOREM IPSUM DOLOR SIT AMET</h4>
                                <hr class="line">
                                <ul>
                                    <li>Photography</li>
                                    <li>Magazine</li>
                                    <li>Model</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <!-- END / ITEM -->
                </div>
            </div>
        </div>
    </section>
    <!-- END / WORK -->

    <!-- AND MORE -->
    <section id="andmore" class="andmore section">
        <div class="section-wrap bg-parallax">
            <div class="container">
                <div class="title">
                    <h3 class="lg text-uppercase">And more</h3>
                </div>
                <div class="andmore-content">
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="item">
                                <div class="inner text-center">
                                    <p><span class="big countup">75</span></p>
                                    <h4 class="text-capitalize">Awards</h4>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="item">
                                <div class="inner text-center">
                                    <p><span class="big countup">380</span></p>
                                    <h4 class="text-capitalize">Projects</h4>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="item">
                                <div class="inner text-center">
                                    <p><span class="big countup">20</span></p>
                                    <h4 class="text-capitalize">Offices</h4>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="item">
                                <div class="inner text-center">
                                    <p><span class="big countup">267</span></p>
                                    <h4 class="text-capitalize">Interns</h4>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
            <div class="overlay-pattern-1"></div>
        </div>
    </section>
    <!-- END / AND MORE -->





    <!-- TEAM -->
    <section id="team" class="team section">
        <div class="section-wrap bg-color-2">
            <div class="container">
                <div class="title">
                    <h3 class="big text-uppercase">Our people</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo. Nulla et imperdiet ipsum, a mattis justo. Vivamus auctor mattis arcu in malesuada.</p>
                </div>

                <div class="team-content wow flipInX" data-wow-delay="0.4s">
                    <div class="team-row">
                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-1.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption ">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-2.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-3.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-4.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-5.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-6.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-7.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-8.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <div class="hiring">
                                    <div class="inner">
                                        <i class="icon md-icon-heart-plus"></i>
                                        <p>We are Hiring!</p>
                                        <p>Why not <span class="text-uppercase">you?</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-9.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-10.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-11.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-12.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-13.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-14.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-15.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-16.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="item text-center">
                                <img src="images/team/team-17.jpg" alt="" class="grayscale">
                                <div class="mark"></div>
                                <div class="caption">
                                    <div class="inner">
                                        <h4 class="text-uppercase">YOUR AWESOME NAME</h4>
                                        <p>Ninja Designer</p>
                                        <div class="social">
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-tumblr"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / TEAM -->


    <!-- FUN FACT -->
    <section id="funfact" class="funfact section">
        <div class="section-wrap bg-parallax">
            <div class="container">
                <div class="title">
                    <h3 class="lg text-uppercase">Some fun facts about us</h3>
                    <hr class="line">
                </div>

                <div class="funfact-content wow fadeInUp" data-wow-delay="0.4s">
                    <div class="funfact-slider">
                        <div class="item">
                            <i class="icon icon-1 md-icon-21"></i>
                            <p>PIZZA is the most oderred thing at our office</p>
                            <i class="icon icon-2 md-icon-21"></i>
                        </div>
                        <div class="item">
                            <i class="icon icon-1 md-icon-22"></i>
                            <p>PIZZA is the most oderred thing at our office</p>
                            <i class="icon icon-2 md-icon-22"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-pattern-1"></div>
        </div>
    </section>
    <!-- END / FUN FACT -->


    <!-- BLOG TIME -->
    <section id="blog-time" class="blog-time section">
        <div class="section-wrap bg-color-1">
            <div class="container">
                <div class="title">
                    <h3 class="big text-uppercase">BLOGGG TIME!</h3>
                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nisi mi. Donec facilisis tellus sit amet massa porta, at tempor felis commodo. Nulla et imperdiet ipsum, a mattis justo. Vivamus auctor mattis arcu in malesuada.</p>
                </div>

                <div class="blog-time-content">
                    <div class="row">
                        <!-- POST -->
                        <div class="col-xs-6 col-md-4 col-lg-3">
                            <div class="post post-single wow flipInY" data-wow-delay="0.4s">
                                <div class="post-media"><img src="images/blog/blog-1.jpg" alt=""></div>
                                <div class="post-title">
                                    <h4><a href="blog-single.html">Donec facilisis tellus sit amet massa porta.</a></h4>
                                    <hr class="line">
                                </div>
                                <div class="post-body">
                                    <p>Flop over hunt anything that moves so hate dog. Chew foot. Sleep on keyboard. Stare at ceiling throwup on your pillow, sweet beast stare at ceiling under the bed behind the couch. Inspect anything brought into the house all of a sudden go crazy.</p>
                                    <a href="blog-single.html" class="read text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="col-xs-6 col-md-4 col-lg-3">
                            <div class="post post-single wow flipInY" data-wow-delay="0.6s">
                                <div class="post-media"><img src="images/blog/blog-2.jpg" alt=""></div>
                                <div class="post-title">
                                    <h4><a href="blog-single.html">Donec facilisis tellus sit amet massa porta.</a></h4>
                                    <hr class="line">
                                </div>
                                <div class="post-body">
                                    <p>Flop over hunt anything that moves so hate dog. Chew foot. Sleep on keyboard. Stare at ceiling throwup on your pillow, sweet beast stare at ceiling under the bed behind the couch. Inspect anything brought into the house all of a sudden go crazy.</p>
                                    <a href="blog-single.html" class="read text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="col-xs-6 col-md-4 col-lg-3">
                            <div class="post post-single wow flipInY" data-wow-delay="0.8s">
                                <div class="post-media"><img src="images/blog/blog-3.jpg" alt=""></div>
                                <div class="post-title">
                                    <h4><a href="blog-single.html">Donec facilisis tellus sit amet massa porta.</a></h4>
                                    <hr class="line">
                                </div>
                                <div class="post-body">
                                    <p>Flop over hunt anything that moves so hate dog. Chew foot. Sleep on keyboard. Stare at ceiling throwup on your pillow, sweet beast stare at ceiling under the bed behind the couch. Inspect anything brought into the house all of a sudden go crazy.</p>
                                    <a href="blog-single.html" class="read text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="col-xs-6 col-md-4 col-lg-3">
                            <div class="post post-single wow flipInY" data-wow-delay="1s">
                                <div class="post-media"><img src="images/blog/blog-4.jpg" alt=""></div>
                                <div class="post-title">
                                    <h4><a href="blog-single.html">Donec facilisis tellus sit amet massa porta.</a></h4>
                                    <hr class="line">
                                </div>
                                <div class="post-body">
                                    <p>Flop over hunt anything that moves so hate dog. Chew foot. Sleep on keyboard. Stare at ceiling throwup on your pillow, sweet beast stare at ceiling under the bed behind the couch. Inspect anything brought into the house all of a sudden go crazy.</p>
                                    <a href="blog-single.html" class="read text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->
                    </div>
                    <div class="load-btn text-uppercase clearfix"><a href="blog.html" class="cs-btn btn-style-1">View more posts</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / BLOG TIME -->
