
        <div class="section-wrap">
            <div class="container">
                <div class="title wow fadeInUp" data-wow-delay="0.2s">
                    <h3 class="big text-uppercase">Bienvenu,</h3>
                    <p class="medium">Je m'appelle Nicolas Candelon, développeur Ruby on Rails et intégrateur</p>
                </div>


                <div class="about-content">
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.4s">
                                <h4 class="text-uppercase">Qui suis-je</h4>
                                <p>Je vis dans cette région propères et dynamique : le Lot et Garonne (47). Plus précisément à Agen. Je suis un gaucher contrariant mais avant un mec curieux et passionné par le web et les objets connectés.</p>
                               
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.6s">
                                <h4 class="text-uppercase">Que fais-je</h4>
                                <p>Principalement du développement web, je peux également m'occuper des la partie webdesign comme la partie intégration.</p>
                                <ul>
                                <p class="color">Mes domaines de comptétences</p>
                                    <li>Ruby on Rails</li>
                                    <li>Intégrations HTML5/CSS3/JS</li>
                                    <li>Création d'interface web</li>
                                </ul>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-sm-4 col-md-4">
                            <div class="item wow fadeInLeft" data-wow-delay="0.8s">
                                <h4 class="text-uppercase">inutile</h4>
                                <p>Je me suis déjà cassé la main et j'adore mes faire suer avec des documentions mal construites</p>
                                
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
        </div>
    